@import url('bootstrap.min.css');


body{
    text-align: center;
    background: #232220;
    margin: 0;
    padding: 0;
}

#inside hr {
    margin-top:4ex;
    height:8px;
    background: linear-gradient(#98938F,white);
}

hr {
    border-top: 2px solid #98938F;
    border-bottom: 1px solid #eee;
}

p{
    line-height: 150%;
}

#texte h1, #bibliographie h1{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 120%;
margin: 3ex 0 2ex 0;
}

#texte h2, #bibliographie h2{
    text-transform:none;
    font-size: 130%;
margin: 2ex 0 2ex 0;
        font-weight:normal;
}

h2 {
    text-transform : uppercase;
    font-size:28px;
    color:#6488a7;
    font-weight: bold;
}

#menu h3{
    text-transform : uppercase;
    font-size:20px;
    font-weight: bold;
    color: white;
}

#menu h3 span{
    display:block;
    width:1em;
    height:1em;
    background:white;
    float: left;
    margin-right: 5px;
}

h2 span{
    display:block;
    width:1em;
    height:1em;
    background:#6488a7;
    float: left;
    margin-right: 5px;
}

h1, h2, h3, h4, h5, h6, p, form, fieldset, img, blockquote{
margin: 0;
padding: 0;
border: 0;
}

blockquote{
    font-size: inherit !important;
margin: 0 0 20px !important;
border: none !important;
padding: inherit !important;
}

li{
    line-height: 150%;
    margin-bottom: 1ex;
}

dt{
    font-weight: bold;
    margin-bottom: 1ex;
}

.familyName{
    font-variant: small-caps;
}

.spacer{
display: block;
height: 2em;
clear: both;
}

h2.publiParente, h3, h4{
    margin-bottom: 2ex;
    margin-top: 2em;
}

/*
h2.publiParente{
   padding-top: 1em;
}
*/

h3.accueil{
    margin-top: 3ex;
color: #e18600;
}

a.footnotecall{
    font: .8em Verdana, sans-serif;
    font-weight: bold;
    padding-left: .3em;
    vertical-align: top;
}

a.indexBack{
display: block;
         font-size: 90%;
         font-weight: bold;
         text-align: right;
         margin-top: 3em;
border: 0;
}

br.nobr{
display: none;
}

span.sousTitre{
display: block;
         font-size: 90%;
         font-weight: normal;
         font-style: italic;
}

dl.listArticles dt{
margin: 2ex 0 0 0;
}

dl.listArticles dd{
margin: 0 0 0 0;
padding: 0;
}

dl.listArticles dd.date{
    font-size: 90%;
    font-style: italic;
}

dl.listArticles dd.paruDans{
    font-size: 90%;
color: #666;
}

dl.listArticles dd.paruDans a{
color: #666;
}

div.notes p{
    margin-bottom: 1.5ex;
    text-align: justify;
}

img.icone{
    display: block;
    float: left;
    max-width: 200px;
    border: 1px solid #aaa;
    margin-right: 1em;
}

#main{
    position: relative;
    margin: auto;
    width: 75%;
    max-width: 75em;
    text-align: left;
}

#accessible, #footer{
    text-align: center;
color: #e5e8e3;
padding: .5ex 0;
}

#accessible a, #footer a, #ariane{
color: #aaa;
}

#cartouche{
color: #fff;
height: 120px;
color: #fff;
height: 120px;
background: url(../images/bandeau_rif.png) no-repeat;
background-position: right;
background-size: cover;
border-top-right-radius: 25px;
}

#cartouche span.sousTitre{
    font-weight: bold;
    font-size: 70%;
    margin-top: 0;
}

#cartouche a{
color: #fff;
       text-decoration: none;
}

#ariane{
font-size: 90%;
text-transform: capitalize;
padding: -.3ex 0 3ex 0;
background: #D6D2CF
}

#ariane, #ariane li{
margin: 0;
padding: 0;
         list-style: none;
}

#ariane li{
display: inline;
}

#content{
    border-top-left-radius: 50px;
}

#menu, #inside, #content{
background: #F8F8F8;
}

#menu{
border-bottom-right-radius: 25px;
position: absolute;
top: 120px;
font-size: 90%;
padding: 1.3em 1em;
width: 220px;
height: 490px;
color: #fff;
background: #6488A7;
}

#menu a {
background: linear-gradient(to right,#33434B,#33434B00);
color: #fff;
padding: 0.2em 1em 0.2em 1em;
display:block;
        font-weight: bold;
}

/* HACK */

*>#menu{
    //position: fixed;
height: auto;
        min-height: 490px;
}

#menu ul, #menu ul li{
margin: 0;
padding: 0;
         list-style: none;
         line-height: 100%;
}

#menu ul li{
    margin-bottom: 1ex;
}

#menu ul li li{
    margin-left: 1em;
}

#menu h3{
margin: 2ex 0 1ex 0;
}

#actu {
float: right;
width: 180px;
z-index: 1;
color: black;
background: #6488A7;
position: relative;
border-bottom-left-radius: 25px;
border-top-left-radius: 25px;
margin-top: 50px;
padding: 10px;
font-size: 0.9em;
}

#recherche{
padding: 2ex 0;
}

#recherche input, #recherche select{
    font-size: 90%;
color: grey;
}

#recherche select{
width: 150px;
}

#recherche label{
display: block;
}

#advanced_search{
    margin-top: 2ex;
    padding-top: 1ex;
}

#advanced_search label{
    font-size: 90%;
}

#rss{
display: block;
         text-align: center;
margin: 2ex 0 0 0;
}

#inside{
margin: 0 0 0 220px;
padding: 1em 2em 2em 5%;
height: 510px;
}

/* HACK */

*>#inside{
    height: auto;
    min-height: 700px;
    position: relative;
    padding-right: 20%; 
}

#footer{
        border-radius: 0 0 25px 25px;
        background: #625E5B;
        height: 80px;
        font-size: 90%;
        z-index: 1;
        margin-top: 10px;
        margin-bottom: 10px;
}

h4{
margin: 3ex 0 2ex 0;
}

#enteteDocument{
margin: 30px 0;
}

#enteteDocument h3{
margin: 0 0 1ex 0;
}

#enteteDocument h3 span.sousTitre{
display: block;
         font-size: 80%;
         font-weight: normal;
}

#enteteDocument .auteur {
    font-size:1.3em;
}

#resume{
    font-size: 90%;
    text-align: justify;
    line-height: 150%;
}

#toc{
color: #e18600;
}

#toc .toc_section1, div.type{
    font-weight: bold;
}

#menu ul li li:before{
    vertical-align: -30%;
}

#toc .toc_section2{
    margin-left: 1.5em;
}

#toc .toc_section3{
    margin-left: 3em;
}

#toc .toc_section4{
    margin-left: 4em;
}

#toc .toc_section5{
    margin-left: 5em;
}

#toc .toc_section6{
    margin-left: 6em;
}

#texte{
    position: relative;
}

#personDesc, #personInfo{
clear: both;
       margin-top: 3em;
}

#personInfo dd{
margin: 0;
}

#personInfo dt{
margin: 2ex 0 1ex 0;
}

p.resume {
    border-left: 1px solid #ddd;
    padding-left: 5px;
    text-align: justify;
}

#texte p.texte, p.notesbaspage, p.bibliographie {
    line-height: 150%;
    text-align: justify;
margin: 1ex 0;
position: relative;
}

#texte p.citation{
    line-height: 150%;
    text-align: justify;
margin: 2ex 0 2ex 4em;
        font-style: italic; 
        margin-bottom: 2ex;
}

#texte h3, #bibliographie h3{
    font-size: 110%;
margin: 3ex 0 2ex 0;
}

#texte h4, #bibliographie h4{
    font-size: 100%;
margin: 2ex 0 1ex 0;
}

#texte span.paranumber{
display: block;
         font-size: 70%;
color: #aaa;
left: -2em;
      text-align: right;
position: absolute;
}

#texte table{
    border-collapse: collapse;
width: 100%;
}

#texte table td{
border: 1px solid #aaa;
padding: 1ex 1em;
         vertical-align: top;
}

#texte table td p.texte{
margin: 0;
        text-align: left;
}

#flux{
clear: both;
       margin-top: 4em;
}

#flux ul{
    font-size: 90%;
}

#flux ul, #flux ul li{
    list-style: none;
margin: 0;
padding: 0;
}

#flux ul li{
    margin-bottom: 2em;
}

#flux ul a{
    font-weight: bold;
}

#flux ul p{
    margin-top: 1em;
}

#bibliographie p{
    text-align: left;
}

#map{
    margin-top: 2em;
}

#map ul, #map ul li{
    list-style: none;
margin: 2ex 0;
        padding-left: 0;
}

#map ul li{
    font-weight: bold;
clear: both;
       padding-left: 2.5em;
}

#map ul li li{
    font-weight: normal;
    margin-left: .5em;
}

#map ul li img{
display: block;
position: absolute;
          margin-left: -2.5em;
}

#map strong.auteurs{
display: block;
         font-size: 90%;
}

#tabAlpha{
    font-size: 90%;
color: #aaa;
}

#alphabet dt{
    font-size: 200%;
margin: 1.5em 0 .5em 0;
}

#alphabet dd{
margin: 0 0 1ex 0;
        padding-left: 0;
}

#bottomNav{
clear: both;
position: relative;
padding: 4em 0 2em 0;
}

#bottomNav .previous, #bottomNav .next{
position: absolute;
          font-size: 90%;
}

#bottomNav .previous{
left: 0;
}

#bottomNav .next{
right: 0;
}

p.sidenoteBox{
position: absolute;
          margin-right: -33%;
          margin-left: 103%;
width : 30%;
}

p.sidenoteItem {
	text-overflow: ellipsis;
	max-height: 6em;       /* height is 2x line-height, so two lines will display */
	overflow: hidden;  /* prevents extra lines from being visible */
	font-size: 0.75em;
	text-align: left;
	margin-top: 0.5em;
}

a.FootnoteSymbol {
    font-weight:bold;
}

.puces::before{ content: "• "; /* on affiche une chaîne de caractère */ }
.puces { margin-left : 20px;}

.separateur {
    text-align:center;
    line-height: 5em;
}

[class*=illustration], table {
	width: 100%;
}

[class=titreillustration] + p {
}

/* Pour faire disparaitre le troisième niveau d'arborescence */
[classublisMenu] ul ul {
	display:none;
}

.item {
	height: 225px;
}
.item img {
	width: auto;
	margin: auto;
	height: 225px;
	max-height: 225px;
}

#menufixe {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
}
